<h3>
  <% if current_user.present? %>
    <% current_user.shows.each do |show| %>
      <h3> <%= link_to show.name, show_path(show.id) %></h3>
    <p>airing: <%= show.air_date %> | <%= show.air_time if show.air_time%> pm </p>
    <% end %>
  <% end %>
</h3>


<br>

<p><%= link_to "Back To All Shows", chillflix_path %></p>
