<h3>Your Shows: </h3>
<p>
  <% if current_user.present? && !current_user.shows.empty?%>
    <% current_user.shows.each do |show| %>
      <h3> <%= link_to show.name, user_show_path(current_user, show) %></h3>
      <p>airing: <%= show.air_date %> | <%= show.air_time if show.air_time%> pm </p>
    <% end %>
  <% else %>
    <p>You have no shows</p>
  <% end %>
</p>


<br>

<p><%= link_to "Back To All Shows", chillflix_path %></p>
